.section1-img{
    background-image:url(../img/imgtop.jpg);      /*画像表示 */
    background-repeat: no-repeat;                /*繰り返し表示しない */
    background-size: cover;                     /*表示形式 */
    height: 100vh;                             /*高さ */
}
.simple-border1{
    text-decoration: underline solid silver  
}
.simple-border2{
    text-decoration: underline solid silver
}
.simple-border3{
    text-decoration: underline solid silver
}
.center1{
    width: 100%;
    height: auto;
    text-align: center;
}
.center2{
    width: 30%;
    height: auto;
    text-align: center;
}
.center3{
    width: 30%;
    height: auto;
    text-align: center;
}
.center4{
    width: 30%;
    height: auto;
    text-align: center;
}
.container{ 
    width: 100%;
    justify-content: center;
    display: flex;
}
.center5{
    width: 100%;
    text-align: center;
}
.center6{
    width: 100%;
    text-align: center;
}